@use "../../styles/breakpoints.scss" as *;
@use "../../styles/mixins.scss" as *;

.Impressum {
  position: relative;
  max-width: 75%;
  margin: 120px auto;
  padding: 80px;
  border-radius: 10px;
  background-color: var(--surface);
  color: var(--text);
  overflow-wrap: break-word;

  &__back {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;

    & > svg {
      color: var(--text);
    }
  }

  &__heading {
    font-size: 32px;
    margin-bottom: 18px;
  }

  &__paragraph {
    margin-bottom: 36px;
    line-height: 1.8;
  }

  &__link {
    color: var(--accent);
  }
}

@include bp($bp-md) {
  .Impressum {
    max-width: 100%;
    padding: 80px 40px;
  }
}
