@mixin nav-shooting-star() {
  @keyframes nav-shooting-star {
    0%,
    88% {
      transform: translateX(-120px);
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(calc(100vw + 120px));
      opacity: 0;
    }
  }
}
