$bp-xs:      480px;   // kleine Phones
$bp-sm:      768px;   // Phones / großes Phone
$bp-md:      1024px;  // Tablet
$bp-lg:      1280px;  // Laptop / kleiner Desktop
$bp-xl:      1440px;  // Desktop
$bp-2xl:     1920px;  // großer Desktop